# Random Forest

In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
data=sns.load_dataset("penguins")
data

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [15]:
data['species']=data['species'].astype('category')
data['species']=data['species'].cat.codes

data['island']=data['island'].astype('category')
data['island']=data['island'].cat.codes

data['sex']=data['sex'].astype('category')
data['sex']=data['sex'].cat.codes

In [18]:
data

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,2,39.1,18.7,181.0,3750.0,1
1,0,2,39.5,17.4,186.0,3800.0,0
2,0,2,40.3,18.0,195.0,3250.0,0
3,0,2,NaN,NaN,NaN,NaN,-1
4,0,2,36.7,19.3,193.0,3450.0,0
...,...,...,...,...,...,...,...
339,2,0,NaN,NaN,NaN,NaN,-1
340,2,0,46.8,14.3,215.0,4850.0,0
341,2,0,50.4,15.7,222.0,5750.0,1
342,2,0,45.2,14.8,212.0,5200.0,0
343,2,0,49.9,16.1,213.0,5400.0,1

In [19]:
data.isnull().sum()

species              0
island               0
bill_length_mm       2
bill_depth_mm        2
flipper_length_mm    2
body_mass_g          2
sex                  0
dtype: int64

In [26]:
data=data.dropna()
data

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,2,39.1,18.7,181.0,3750.0,1
1,0,2,39.5,17.4,186.0,3800.0,0
2,0,2,40.3,18.0,195.0,3250.0,0
4,0,2,36.7,19.3,193.0,3450.0,0
5,0,2,39.3,20.6,190.0,3650.0,1
...,...,...,...,...,...,...,...
338,2,0,47.2,13.7,214.0,4925.0,0
340,2,0,46.8,14.3,215.0,4850.0,0
341,2,0,50.4,15.7,222.0,5750.0,1
342,2,0,45.2,14.8,212.0,5200.0,0
343,2,0,49.9,16.1,213.0,5400.0,1

In [28]:
x=data.drop(columns='species')
y=data['species']

In [29]:
x

,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,2,39.1,18.7,181.0,3750.0,1
1,2,39.5,17.4,186.0,3800.0,0
2,2,40.3,18.0,195.0,3250.0,0
4,2,36.7,19.3,193.0,3450.0,0
5,2,39.3,20.6,190.0,3650.0,1
...,...,...,...,...,...,...
338,0,47.2,13.7,214.0,4925.0,0
340,0,46.8,14.3,215.0,4850.0,0
341,0,50.4,15.7,222.0,5750.0,1
342,0,45.2,14.8,212.0,5200.0,0
343,0,49.9,16.1,213.0,5400.0,1

In [30]:
y

0      0
1      0
2      0
4      0
5      0
      ..
338    2
340    2
341    2
342    2
343    2
Name: species, Length: 342, dtype: int8

In [32]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.30,random_state=1)

In [61]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier()
rfc=RandomForestClassifier(n_estimators=12,criterion='gini',random_state=0)
rfc.fit(x_train,y_train)

RandomForestClassifier(n_estimators=12, random_state=0)

In [58]:
y_pred=rfc.predict(x_test)
y_pred

array([0, 0, 0, 2, 2, 2, 0, 0, 0, 1, 0, 2, 0, 1, 0, 2, 2, 2, 2, 2, 2, 0,
       2, 0, 2, 0, 2, 2, 2, 2, 1, 1, 2, 0, 0, 2, 0, 0, 2, 0, 2, 1, 1, 1,
       2, 0, 0, 1, 2, 0, 2, 0, 2, 2, 0, 1, 0, 2, 2, 1, 0, 0, 2, 0, 0, 0,
       0, 2, 2, 0, 0, 2, 2, 1, 2, 1, 0, 2, 0, 1, 0, 0, 0, 0, 0, 2, 2, 0,
       1, 1, 1, 0, 1, 0, 0, 2, 0, 2, 2, 2, 0, 0, 0], dtype=int8)

In [48]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report,accuracy_score

In [62]:
cm=confusion_matrix(y_test,y_pred)
cm

array([[45,  0,  0],
       [ 1, 17,  0],
       [ 0,  0, 40]], dtype=int64)

In [63]:
accuracy_score(y_test,y_pred)

0.9902912621359223

In [64]:
print("classification report:-")
print(classification_report(y_test,y_pred))

classification report:-
              precision    recall  f1-score   support

           0       0.98      1.00      0.99        45
           1       1.00      0.94      0.97        18
           2       1.00      1.00      1.00        40

    accuracy                           0.99       103
   macro avg       0.99      0.98      0.99       103
weighted avg       0.99      0.99      0.99       103